[Unit]
Description=YubiKey OATH Daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=pl.jkolo.yubikey.oath.daemon
ExecStart=/usr/bin/yubikey-oath-daemon
Slice=session.slice
TimeoutStopSec=5sec
Restart=on-failure

[Install]
WantedBy=graphical-session.target
