[Desktop Entry]
Name=YubiKey OATH
Name[pl]=YubiKey OATH
Comment=YubiKey OATH TOTP/HOTP codes integration for KRunner
Comment[pl]=Integracja kodów OATH TOTP/HOTP z YubiKey dla KRunner
Icon=yubikey-oath
Type=Service
X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=krunner_yubikey
X-KDE-PluginInfo-Author=YubiKey Runner Developer
X-KDE-PluginInfo-Email=dev@example.com
X-KDE-PluginInfo-Name=yubikey
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-Package=krunner_yubikey
Categories=Qt;KDE;Security;